---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import About from "../sections/About.astro";
import Work from "../sections/Work.astro";
import Education from "../sections/Education.astro";
import Activities from "../sections/Activities.astro";
import Skills from "../sections/Skills.astro";
import Interests from "../sections/Interests.astro";
import Projects from "../sections/Projects.astro";
import Footer from "../sections/Footer.svelte";
---

<Layout title="Resumee · Luca Müller">
  <main class="flex flex-col w-full items-center max-w-6xl bg-yellow space-y-6">
    <Header />
    <div class="flex flex-col bg-white rounded-2xl w-full px-10 py-10">
      <About />
      <Work />
      <Education />
      <Activities />
      <Skills />
      <Interests />
      <Projects />
      <Footer client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
