---
const { city, start, end } = Astro.props;
---

<div
  class="italic sm:text-right text-sm sm:text-base text-zinc-500 flex flex-row md:flex-col space-x-2"
>
  <div>{start} - {end}</div>
  <div>{city}</div>
</div>
