---
const { name, desc } = Astro.props;
---

<a
  href={`https://github.com/cuvar/${name}`}
  target="_blank"
  rel="noreferrer noopener"
>
  <p class="text-neutral-700 font-bold text-xl">{name}</p>
  <p class="text-neutral-700 text-md">{desc}</p>
</a>
