---
const { title, link, job } = Astro.props;

const hasJob = job.trim().length > 0;
const hasLink = link.trim().length > 0;
---

<div class="flex flex-col md:flex-row justify-between mb-2">
  <div class="flex flex-col md:flex-row space-x-0 md:space-x-1 md:items-center">
    {
      hasLink ? (
        <a
          class="text-neutral-700 underline decoration-dotted font-bold text-xl"
          href={link}
          target="_blank"
          rel="noopener noreferrer"
        >
          {title}
        </a>
      ) : (
        <div class="text-neutral-700 font-bold text-xl">{title}</div>
      )
    }

    {
      hasJob && (
        <p class="text-zinc-500 text-lg">
          <span class="md:inline hidden">· </span>
          {job}
        </p>
      )
    }
  </div>
  <slot />
</div>
