---
import Title from "../components/Title.astro";
---

<div>
  <Title>About</Title>
  <p class="text-lg mt-4 mb-6">
    I am an aspiring fullstack software engineer with a love for web
    development. Further I am interested in software architecture,
    bioinformatics and open source. I enjoy learning new technologies and
    explore new technological areas.
  </p>
</div>
