---
import Title from "../components/Title.astro";
---

<div>
  <Title>About</Title>
  <p class="text-lg mt-4 mb-6 text-justify">
    I'm an aspiring fullstack software engineer with a passion
    for the web and a love for developing user-facing applications.
    I find joy in creating helpful products that enhance user
    experiences. I'm currently contributing to the innovative
    field at SAP, specializing in the UI5 framework. I am
    enthusiastic about learning and exploring new technologies and
    fields, with a big interest in software architecture. Always
    driven by curiosity, I love staying on the cutting edge of
    software development trends. Hence, I actively seek
    opportunities to deepen my understanding and contribute to the
    design of systems and technologies.
  </p>
</div>
