---
import Title from "../components/Title.astro";
import Location from "../components/Location.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<div>
  <Title>Activities</Title>
  <div class="flex flex-col mt-4 mb-6">
    <SectionTitle title="VT Project Administration@VT" link="" job="">
      <Location city="Walldorf" start="Jan 2021" end="Sep 2023" />
    </SectionTitle>

    <div class="text-lg">
      Administrated other VT-project's cloud technologies by maintaining AWS and
      GCP instances and consult for the correct usage of technologies.
    </div>
  </div>
</div>
