---
import Title from "../components/Title.astro";
---

<div>
  <Title>Activities</Title>
  <div class="flex flex-col ml-4 mt-4 mb-6">
    <div class="flex justify-between">
      <div class="flex space-x-2 items-center">
        <div class="text-neutral-700 font-bold text-xl">
          VT Project Administration@VT
        </div>
      </div>
      <div class="italic text-right text-zinc-400">
        <div>Jan 2021 - Sep 2023</div>
        <div>Walldorf</div>
      </div>
    </div>

    <div class="text-lg">
      Administrated other VT-project's cloud technologies by maintaining AWS and
      GCP instances and consult for the correct usage of technologies.
    </div>
  </div>
</div>
