---
import Title from "../components/Title.astro";
---

<div>
  <Title>Interests</Title>
  <div class="flex space-x-2 mt-4 mb-6 ml-4">
    <div class="flex flex-col text-right text-neutral-500">
      <p>{"Field of expertise"}</p>
      <p>{"Extra"}</p>
    </div>
    <div class="flex flex-col">
      <p>Fullstack development, Software architecture</p>
      <p>Piano, Reading, Fitness, Biology</p>
    </div>
  </div>
</div>
