---
import Project from "../components/Project.astro";
import Title from "../components/Title.astro";
---

<div>
  <Title>Projects</Title>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-y-4">
    <Project name="panal" desc="widget-based dashboard for better productivity" />
    <Project
      name="vocab"
      desc="A simple vocabulary app for learning new words"
    />
    <Project name="swiper-action" desc="Simple react component for 'swipe-to-action'." />
    <Project
      name="gisa-tool"
      desc="Research tool for analyzing the emissions of a website"
    />
  </div>
</div>
