---
import Title from "../components/Title.astro";
---

<div>
  <Title>Skills</Title>
  <div class="flex space-x-2 mt-4 mb-6">
    <div class="flex flex-col text-right text-neutral-500">
      <p>{"Hard"}</p>
      <p>{"Extra"}</p>
      <p>{"Languages"}</p>
      <p>{"Technologies"}</p>
    </div>
    <div class="flex flex-col">
      <p>Abitur, GCP Fundamentals, DELF B1</p>
      <p>Git, Linux</p>
      <p>German (Native speaker), English (C1 pending), French (B1)</p>
      <p>TypeScript, React, Nextjs, HTML, CSS, Svelte, Java, PHP, Go, Kotlin</p>
    </div>
  </div>
</div>
