---
import Title from "../components/Title.astro";
---

<div>
  <Title>Skills</Title>
  <div class="flex space-x-2 mt-4 mb-6">
    <div class="flex flex-col text-right text-neutral-500">
      <p>{"Hard"}</p>
      <p>{"Soft"}</p>
      <p>{"Extra"}</p>
      <p>{"Languages"}</p>
    </div>
    <div class="flex flex-col">
      <!-- <p>
        TypeScript, JavaScript, Nextjs, React, Go, HTML, CSS, Svelte, Java, PHP
      </p> -->
      <p>Abitur, GCP Fundamentals, DELF B1</p>
      <p>Highly structured, empathetic,</p>
      <p>Linux, Git, VS Code, RegExp</p>
      <p>German (Native speaker), English (C1 pending), French (B1)</p>
    </div>
  </div>
</div>
