---
import Title from "../components/Title.astro";
import Location from "../components/Location.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<div>
  <Title>Work</Title>
  <div class="flex flex-col mt-4 mb-6">
    <SectionTitle
      title="SAP SE"
      link="https://sap.com"
      job="Vocational Training student"
    >
      <Location city="Walldorf" start="Sep 2020" end="Sep 2023" />
    </SectionTitle>

    <div class="text-lg">
      <p>worked as student</p>
      <ul class="list-disc list-inside">
        <li>
          SAPUI5: Implemented a prototype of a Web Component for a Table Control
          <br />Impact: Improved performance and memory usage by 200%
        </li>
        <li>
          SAP Concur: Implemented a feature for generating ICS files for a
          booked trip
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col mt-4 mb-6">
    <SectionTitle
      title="DLRG Ortsgruppe Landau e.V."
      link="https://landau.dlrg.de/"
      job="Fullstack Software Engineer"
    >
      <Location city="Landau" start="Feb 2021" end="Feb 2023" />
    </SectionTitle>

    <div class="text-lg">
      <p>
        Build and led the development of a software for tracking COVID-19 rapid
        tests using UI5 and PHP
      </p>
      <p>
        Impact: tracked a total of 150,000 tests and saved a total of estimated
        100+ Excel files
      </p>
    </div>
  </div>
</div>
