---
import Location from "../components/Location.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Title from "../components/Title.astro";
---

<div>
  <Title>Work</Title>
  <div class="flex flex-col mt-6 mb-8">
    <SectionTitle
      title="SAP SE"
      link="https://sap.com"
      job="Developer for SAPUI5"
    >
      <Location city="Walldorf" start="Oct 2023" end="today" />
    </SectionTitle>

    <div class="text-lg">
      <p>
        My work comprises the maintenance and improvement of UI components for the UI5 frontend framework. 
        I specialized in the development of so-called "SmartControls" and metadata-driven components that are used to create UI using metadata.
      </p>
    </div>
  </div>
  <div class="flex flex-col mt-6 mb-8">
    <SectionTitle
      title="vaevo UG (haftungsbeschränkt)"
      link="https://vaevo.de"
      job="Co-Founder and Developer"
    >
      <Location city="Landau" start="Mar 2023" end="today" />
    </SectionTitle>

    <div class="text-lg">
      <p>
        Designed and developed websites and web applications for small and medium-sized businesses in the main sectors of gastronomy and winery.
      </p>
    </div>
  </div>
  <div class="flex flex-col mt-6 mb-8">
    <SectionTitle
      title="SAP SE"
      link="https://sap.com"
      job="Vocational Training Student"
    >
      <Location city="Walldorf" start="Sep 2020" end="Sep 2023" />
    </SectionTitle>

    <div class="text-lg">
      <p>
        I worked as student in various departments of the company and helped
        improve technologies and products, e.g.:
      </p>
      <ul class="list-disc ml-6">
        <li>
          SAPUI5: Implemented a prototype of a Web Component for a Table Control
          <br />
          <span class="font-bold">Impact</span>: Improved performance and memory
          usage by 200%
        </li>
        <li>
          Bachelor thesis: Implementation and Evaluation of a Proof of Concept
          for Metadata-driven Smart Controls in SAPUI5
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col mt-6 mb-8">
    <SectionTitle
      title="DLRG Ortsgruppe Landau e.V."
      link="https://landau.dlrg.de/"
      job="Fullstack Software Engineer"
    >
      <Location city="Landau" start="Feb 2021" end="Feb 2023" />
    </SectionTitle>

    <div class="text-lg">
      <p>
        Build and led the development of a software for tracking COVID-19 rapid
        tests using UI5 and PHP
      </p>
      <p>
        <span class="font-bold">Impact</span>: tracked a total of 150,000 tests
        and saved a total of estimated 100+ Excel files
      </p>
    </div>
  </div>
</div>
