---
import Title from "../components/Title.astro";
---

<div>
  <Title>Work</Title>
  <div class="flex flex-col ml-4 mt-4 mb-6">
    <div class="flex justify-between">
      <div class="flex space-x-2 items-center">
        <a
          class="text-neutral-700 underline decoration-dotted font-bold text-xl"
          href="https://sap.com"
          target="_blank"
          rel="noopener noreferrer">SAP SE</a
        >
        <p class="text-zinc-400 text-lg">· Vocational Training student</p>
      </div>
      <div class="italic text-right text-zinc-400">
        <div>Sep 2020 - Sep 2023</div>
        <div>Walldorf</div>
      </div>
    </div>
    <div class="text-lg">
      <p>worked as student</p>
      <ul class="list-disc list-inside">
        <li>
          SAPUI5: Implemented a prototype of a Web Component for a Table Control
          <br />Impact: Improved performance and memory usage by 200%
        </li>
        <li>
          SAP Concur: Implemented a feature for generating ICS files for a
          booked trip
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col ml-4 mt-4 mb-6">
    <div class="flex justify-between">
      <div class="flex space-x-2 items-center">
        <a
          class="text-neutral-700 underline decoration-dotted font-bold text-xl"
          href="https://www.karlsruhe.dhbw.de/"
          target="_blank"
          rel="noopener noreferrer">DLRG Landau</a
        >
        <p class="text-zinc-400 text-lg">· Fullstack Software Engineer</p>
      </div>
      <div class="italic text-right text-zinc-400">
        <div>Feb 2021 - Feb 2023</div>
        <div>Landau</div>
      </div>
    </div>
    <div class="text-lg">
      <p>
        Build and led the development of a software for tracking COVID-19 rapid
        tests using UI5 and PHP
      </p>
      <p>
        Impact: tracked a total of 150,000 tests and saved a total of estimated
        100+ Excel files
      </p>
    </div>
  </div>
</div>
