---
export interface Props {
  title: string;
}
// import CookieConsentComponent from "../utils/cookie/CookieConsentComponent";
// import "vanilla-cookieconsent/dist/cookieconsent.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-screen min-h-screen">
    <slot />
    <script
      is:inline
      defer
      data-domain="resumee.cuvar.dev"
      src="https://plausible.io/js/script.js"
    ></script>
    <!-- <CookieConsentComponent client:only="react" /> -->
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --bg-gradient: linear-gradient(180deg, #9d80cb, #f7c2e6);
  }
  html {
    background: var(--bg-gradient);
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
      Noto Sans, sans-serif;
    background-repeat: no-repeat;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
